#N
i2c.*
vga.*
slink.*
axi_ext_slv.*

#S
axi_ext_mst.*
intr_ext_o.*
intr_ext_i.*
xeip_ext_o
mtip_ext_o
msip_ext_o

#E
axi_llc.*
reg_ext.*
usb.*

#W
test_mode_i
boot_mode.*
rtc_i
dbg.*
jtag.*
uart.*
spih.*
clk_i
rst_ni
gpio.*